/*===== General styles import =====*/
@import "../index"; // custom properties
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

.booking-resume {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (max-width: 767.9px) {
        padding: 1rem;
        height: 100%;
    }
}
.booking-resume-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.booking-resume-subtitle {
    font-size: 1.1rem;
    color: rgba(75, 109, 157, 0.719);
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.booking-resume-row {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-bottom: 1px solid $--color-grey-dashboard-light;
    & > small { text-transform: uppercase }
    & span {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}
.booking-resume-date {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

span.booking-resume-price {
    font-size: 1.7rem;
}

button.btn-cool.btn-payment {
    font-size: 1.2rem;
}