$--fc-regular: rgb(90, 90, 90);
$--fc-light: rgb(167, 167, 167);
$--fc-dark: rgb(34, 34, 34);

$--border-c: rgba(204, 204, 204, 0.685);

$--calendar-w: #{"min(100%, 560px)"};
$--calendar-br: 2%;

div.calendar-header {
    margin-bottom: 1rem;
    width: $--calendar-w;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & i, & h4 {
        color: $--fc-regular;
    }
    & h1 {
        font-weight: 300;
    }
}
.calendar {
    border-radius: $--calendar-br;
    overflow: hidden;
    width: $--calendar-w;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.week-days, .week {
    display: flex;
    & > * {
        flex-basis: 100%;
    }
} 
.week-days {
    padding-block: 5px;
    border-bottom: 1px solid $--border-c;
    color: $--fc-light;
    font-size: clamp(0.7rem, 5vw, 1.4rem);
    font-weight: 100;
    & > td { padding: 5px }
}
.month {
    aspect-ratio: 7/5;
}
.week {
    & > * {
        color: $--fc-regular;
        aspect-ratio: 1;
        border-radius: calc(#{$--calendar-br} + 10%);
        font-size: clamp(1rem, 6vw, 1.5rem);
        &:hover { background-color: #d6f9fc }
    }
}