/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

$--border-c: rgba(204, 204, 204, 0.685);

$--calendar-w: #{"min(100%, 560px)"};
$--calendar-border-r: 2%;

.calendar-wrapper {
    width: 100%;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
}
.calendar {
    margin-inline: auto;
    border-radius: $--calendar-border-r;
    width: $--calendar-w;
    display: flex;
    flex-direction: column;
    box-shadow: $--color-grey-regular 0px 5px 15px;
}
.calendar-title { grid-area: m }
.previous-month { grid-area: left }
.next-month { grid-area: right }
.calendar-header {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-areas: ". left . m m m m m m m m m m m m . right .";
    width: $--calendar-w;
    margin-inline: auto;
    margin-block: 0.8rem;
}
.calendar-title {
    text-align: center;
    color: $--color-grey-dark;
    font-weight: 300;
    margin-block: auto;
}
.previous-month, .next-month {
    font-size: 1.4rem;
    color: $--color-blue-dark;
}

.week-days, .week {
    display: flex;
    & > * {
        flex-basis: 100%;
    }
} 
.week-days {
    background-color: $--color-blue-light;
    padding-block: 5px;
    border-bottom: 1px solid $--color-grey-lighter;
    color: $--color-grey-dark;
    font-size: clamp(0.7rem, 5vw, 1.4rem);
    font-weight: 100;
    & > td { padding: 5px }
}
.month {
    overflow: hidden;
}

.day {
    color: $--color-grey-dark;
    aspect-ratio: 1;
    border-radius: calc(#{$--calendar-border-r} + 10%);
    font-size: clamp(1rem, 6vw, 1.5rem);
    &:hover {
        background-color: $--color-blue-light;
        color: $--color-grey-dark;
    }
}
.today {
    font-weight: 600;
    // inset: para que esté dentro del div y no vaya hacia afuera
    box-shadow: inset 0 0 0 0.5px $--color-grey-dark; // Uso box-shadow porque el estilo 'border' modifica el tamaño del div mientras que box shadow NO
}
.week a.light-fc-day {
    color: $--color-grey-light;
    cursor: default;
    &:hover { background: none }
}

@media screen and (max-width: 575.9px) {
    .calendar-wrapper {
        padding-inline: 0;
        height: calc(100vh - 66px); // Cuidado! Si el height del Navbar o el footer cambian, deja de ser 188px!!! No se me ourrió otra solución
    }
    .calendar, .month { height: 100% }
    .month {
        display: flex;
        flex-direction: column;
    }
    .week { flex-basis: 100% }
    .day { aspect-ratio: 0 }
}