.calendar {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 2rem;
    width: 500px;
    height: 500px;
}
.day-names {
    color: rgba(128, 128, 128, 0.664);
    font-size: 1.5rem;
}
.week > td, .day-names > td {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid rgba(128, 128, 128, 0.507);
    text-align: center;
}