@import "../colors";

._navbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    line-height: 1rem;
    padding: 0.6rem 3rem;
    background-color: $--color-grey-dark;
}
a._navbar-logo {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-inline-end: 1.5rem;
}

$--login-link-border: 2px;
$--login-link-h: calc(2rem + #{$--login-link-border} * 2);

._navbar-login a { height: $--login-link-h; overflow: hidden; }
._navbar-login-effect {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    transition-property: transform, color;
    -webkit-transition-property: transform, color;
    transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    ._navbar-login a:hover & {
        transform: translateY(-2rem);
        -o-transform: translateY(-2rem);
        -moz-transform: translateY(-2rem);
        -webkit-transform: translateY(-2rem);
        color: $--color-blue-light;
    }
}

._navbar div._navbar-login a {
    width: 100px;
    text-align: center;
    color: $--color-grey-lighter;
    margin-left: auto;
    border: $--login-link-border solid $--color-grey-lighter;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: border-color 0.4s ease-out;
    &:hover { border-color: $--color-blue-light }
}
._navbar > a {
    position: relative;
    padding-block: 0.2rem;
    color: transparent;
    font-weight: 500;
    background-image: linear-gradient(90deg, $--color-grey-lighter 0% 20%, $--color-blue-dark 20% 80%, $--color-blue-light 80% 100%);
    background-size: 900%;
    background-position: left;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;

    &::before {
        $--width-overflow: 6px;
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(-#{$--width-overflow} / 2);
        background-color: $--color-blue-light;
        height: 1.5px;
        width: calc(100% + #{$--width-overflow});
        transform: scale(0);
        -o-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
    }
}
@media screen and (min-width: 768px) {
    ._navbar > a:hover {
        $--transition-dur: 0.6s;
        // Background transition
        background-position: right;
        transition: background-position $--transition-dur ease-out;
        -o-transition: background-position $--transition-dur ease-out;
        -moz-transition: background-position $--transition-dur ease-out;
        -webkit-transition: background-position $--transition-dur ease-out;
        &::before {
            $--transition-dur-before: calc(#{$--transition-dur} / 2);
            // ::before transition
            transition: transform $--transition-dur-before ease-out $--transition-dur-before;
            -o-transition: transform $--transition-dur-before ease-out $--transition-dur-before;
            -moz-transition: transform $--transition-dur-before ease-out $--transition-dur-before;
            -webkit-transition: transform $--transition-dur-before ease-out $--transition-dur-before;
            transform-origin: center;
            -o-transform-origin: center;
            -moz-transform-origin: center;
            -webkit-transform-origin: center;
            transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
}

@media screen and (max-width: 767.9px) {
    ._navbar {
        flex-direction: column;
        position: relative;
        padding-bottom: 1rem;
    }
    a._navbar-logo { margin: 0 auto 0 0 }
    div._navbar-login {
        position: absolute;
        top: 0.6rem;
        right: 2rem;
        margin: 0;
    }
}