@import "../colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap');

header {
    font-family: 'Poppins', sans-serif;
    background-color: #2b2a33b7;
    font-weight: bold;
    text-align: center;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 10px 34px, rgba(0, 0, 0, 0.16) 0px 12px 19px;
}

._navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;

    min-height: 70px;
    line-height: 1rem;
    margin-inline: auto;
    padding: 0 2.7rem;
}
a._navbar-logo {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

._navbar-group {
    display: flex;
    align-items: center;
    justify-content: start;
}
a._navbar-link {
    position: relative;
}

._navbar-profile-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 0.4rem;
    & > div {
        color: $--color-blue-light;
        font-weight: normal;
        font-size: 0.9rem;
        & > i {
            font-size: 0.7rem;
            margin-left: 0.2rem;
        }
    }
    &:hover img {
        box-shadow: 0 0 0 2px $--color-blue-light; 
    }
}

.avatar-miniature {
    height: 35px;
    width: 35px;
}

._navbar-profile-img {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    transition: all 0.3s ease-out;
}

$--login-link-border: 2px;
$--login-link-h: 3rem;

button._navbar-login {
    overflow: hidden;
    height: $--login-link-h;
    box-shadow: inset 0 0 0 $--login-link-border $--color-pink-dark;
    color: $--color-pink-dark;
    font-size: initial;
    margin-top: 0;
    &:hover, &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 $--login-link-border $--color-pink-light;
        background: none;
        color: $--color-pink-light;
    }
}
._navbar-login-effect {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1rem;
    width: 100%;
    transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    -webkit-transition: transform 0.4s ease-out;
    ._navbar-login:hover &, ._navbar-login:focus-visible & {
        transform: translateY(-2rem);
        -o-transform: translateY(-2rem);
        -moz-transform: translateY(-2rem);
        -webkit-transform: translateY(-2rem);
    }
}

._navbar-toggle {
    display: none;
    color: $--color-grey-lighter;
    width: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    ._navbar-logo { grid-area: logo }
    ._navbar-group { grid-area: group2 }
    ._navbar-login { grid-area: login }
    ._navbar {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo group2 login";
        max-width: 1250px;
    }
    ._navbar > * { height: 100% }
    span a._navbar-logo {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 1.5rem;
        letter-spacing: 0.05rem;
    }
    ._navbar-group {
        align-items: stretch;
    }
    a._navbar-link {
        color: $--color-grey-dashboard-light;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        &:hover { background-color: rgba(166, 246, 255, 0.233) }
    }
    // a._navbar-link {
    //     color: transparent;
    //     background-image: linear-gradient(90deg, $--color-grey-lighter 0% 20%, $--color-blue-dark 20% 80%, $--color-blue-light 80% 100%);
    //     background-size: 900%;
    //     background-position: left;
    //     background-clip: text;
    //     -moz-background-clip: text;
    //     -webkit-background-clip: text;
        
    //     &::before {
    //         $--width-overflow: 6px;
    //         content: '';
    //         position: absolute;
    //         bottom: 0;
    //         left: calc(-#{$--width-overflow} / 2);
    //         background-color: $--color-blue-light;
    //         height: 1.5px;
    //         width: calc(100% + #{$--width-overflow});
    //         transform: scale(0);
    //         -o-transform: scale(0);
    //         -moz-transform: scale(0);
    //         -webkit-transform: scale(0);
    //     }
    // }
    // a._navbar-link:hover {
    //     $--transition-dur: 0.6s;
    //     // Background transition
    //     background-position: right;
    //     transition: background-position $--transition-dur ease-out;
    //     -o-transition: background-position $--transition-dur ease-out;
    //     -moz-transition: background-position $--transition-dur ease-out;
    //     -webkit-transition: background-position $--transition-dur ease-out;
    //     &::before {
    //         $--transition-dur-before: calc(#{$--transition-dur} / 2);
    //         // ::before transition
    //         transition: transform $--transition-dur-before ease-out $--transition-dur-before;
    //         -o-transition: transform $--transition-dur-before ease-out $--transition-dur-before;
    //         -moz-transition: transform $--transition-dur-before ease-out $--transition-dur-before;
    //         -webkit-transition: transform $--transition-dur-before ease-out $--transition-dur-before;
    //         transform-origin: center;
    //         -o-transform-origin: center;
    //         -moz-transform-origin: center;
    //         -webkit-transform-origin: center;
    //         transform: scale(1);
    //         -o-transform: scale(1);
    //         -moz-transform: scale(1);
    //         -webkit-transform: scale(1);
    //     }
    // }
}

// Mobile size
@media screen and (max-width: 767.9px) {
    ._navbar {
        padding: 0.6rem 5vw;
        column-gap: 1rem;
        transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out;
    }
    a._navbar-link {
        color: $--color-grey-lighter;
        transition: 0.25s ease-out;
        -o-transition: 0.25s ease-out;
        -moz-transition: 0.25s ease-out;
        -webkit-transition: 0.25s ease-out;
        &:hover { color: $--color-blue-light }
    }
    ._navbar-logo-wrapper {
        justify-content: flex-start;
        margin: 0;
        flex: 1;
    }
    ._navbar-group {
        gap: 0;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        font-size: 2rem;
        background-color: $--color-grey-dark;
        transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transition: transform 0.25s ease-out;
        -o-transition: transform 0.25s ease-out;
        -moz-transition: transform 0.25s ease-out;
        -webkit-transition: transform 0.25s ease-out;
        & a._navbar-link {
            opacity: 0;
            background-image: none;
            width: 100%;
            padding: 2rem;
            text-align: center;
            letter-spacing: 5px;
            transition: 0.25s ease-out;
            -o-transition: 0.25s ease-out;
            -moz-transition: 0.25s ease-out;
            -webkit-transition: 0.25s ease-out;
            &:hover { color: $--color-blue-light }
        }
    }
    ._navbar-show {
        transform: translateY(0%);
        -o-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        & a._navbar-link:nth-child(1) {
            transition: opacity 0.5s ease-out 0.2s;
            -o-transition: opacity 0.5s ease-out 0.2s;
            -moz-transition: opacity 0.5s ease-out 0.2s;
            -webkit-transition: opacity 0.5s ease-out 0.2s;
            opacity: 1;
        }
        & a._navbar-link:nth-child(2) {
            transition: opacity 0.5s ease-out 0.3s;
            -o-transition: opacity 0.5s ease-out 0.3s;
            -moz-transition: opacity 0.5s ease-out 0.3s;
            -webkit-transition: opacity 0.5s ease-out 0.3s;
            opacity: 1;
        }
        & a._navbar-link:nth-child(3) {
            transition: opacity 0.5s ease-out 0.4s;
            -o-transition: opacity 0.5s ease-out 0.4s;
            -moz-transition: opacity 0.5s ease-out 0.4s;
            -webkit-transition: opacity 0.5s ease-out 0.4s;
            opacity: 1;
        }
    }
    ._navbar-login { width: fit-content }
    ._navbar-login-effect {
        width: 20px;
        transition: none;
        -o-transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        transform: translateY(-2rem);
        -o-transform: translateY(-2rem);
        -moz-transform: translateY(-2rem);
        -webkit-transform: translateY(-2rem);
    }
    ._navbar-toggle { display: inline-block }
}