/*===== General styles import =====*/
@import "../index"; // custom properties
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

.popup-bg {
    visibility: hidden;
    z-index: 9000;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    height: 100vh;
    width: 100%;
    opacity: 0;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // overflow: hidden;
    width: fit-content;
    min-width: calc(min(100%, 400px));
    border-radius: $--br;
    background-color: white;
    box-shadow: -1px 1px 3px 0 rgba(0,0,0,0.2);
    
    transform: translate(-50%, -65%);
    opacity: 0;
}
.popup-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(9, 30, 66, 0.13);
    margin-bottom: 1.5rem;
        
    & h1 { font-size: 1.4rem; font-weight: 600; }
    & i { font-size: 1rem; color: $--color-grey-dark }
}
.popup-subtitle {
    font-size: 1.25rem;
}
.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 0 2rem 2rem;
    margin-block: auto;
    // overflow-y: auto;
    & .btn-confirm { margin-inline: auto }
}
.popup-return { display: flex }
.popup-close { display: flex; margin-left: auto }

.popup-bg-show { visibility: visible; opacity: 1; transition: all 0.2s ease-out }
.popup-show {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.3s ease-out;
}

.popup-container, .popup-row {
    width: calc(min(100%, 500px));
    margin: auto;
    overflow-y: auto;
}
.popup-row {
    justify-content: center;
    width: calc(min(500px, 100%));
    gap: 1rem;
}

.popup .alert {
    border-bottom-left-radius: $--br;
    border-bottom-right-radius: $--br;
}

.popup-form {
    min-width: 400px;
    & > p { max-width: fit-content }
}

button.popup-edit-img {
    position: relative;
    opacity: 1;
    width: 300px;
    height: 300px;
    border-radius: $--br;
    border: 1px dashed $--color-grey-light;
    &, & > i {
        box-shadow: none;
        transition: all 0.2s ease-out;
    }
    &:hover {
        background: none;
        border-radius: 20px;
        & > i {
            box-shadow: 0 4px 10px 2px rgba(0,0,0,0.2);
        }
    }
}

img.popup-service-img {
    max-width: 300px;
    border-radius: $--br;
}

@media screen and (max-width: 767.9px) {
    .popup {
        justify-content: flex-start;
        top: 0;
        left: 0;
        transform: translate(0, 100%);
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
    }
    .popup-show { transform: translateY(0) }
    .popup-body {
        padding: 0 1rem 1rem 1rem;
        overflow-y: auto;
    }
    .popup .alert {
        margin-inline: 1.5rem;
        border-radius: $--br;
    }
}