/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

.popup-grey {
    z-index: 9999;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    height: 100%;
    width: 100%;
}
.popup {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vh;
    border-radius: 2%;
    background-color: white;
    box-shadow: $--color-grey-regular 0px 5px 15px;
    @media screen and (max-width: 767.9px) {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}
.popup-header {
    padding-block: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}
.popup-close {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $--color-grey-regular;
}