/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

.popup-bg {
    visibility: hidden;
    z-index: 9000;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: fit-content;
    border-radius: 7px;
    background-color: white;
    box-shadow: -1px 1px 3px 0 rgba(0,0,0,0.2);
    
    transform: translate(-50%, -65%);
    opacity: 0;
}
.popup-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(9, 30, 66, 0.13);
    margin-bottom: 1.5rem;
        
    & h1 { font-size: 1.4rem; font-weight: 600; }
    & i { font-size: 1rem; color: $--color-grey-dark }
}
.popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
    height: 100%;
    padding: 2rem;
    margin-block: auto;
    & .btn-confirm { margin-inline: auto }
}
.popup-return { display: flex }
.popup-close { display: flex; margin-left: auto }

.popup-bg-show { visibility: visible; opacity: 1; transition: all 0.2s ease-out }
.popup-show {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 767.9px) {
    .popup {
        justify-content: flex-start;
        top: 0;
        left: 0;
        transform: translate(0, 100%);
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 1;
        transition: all 0.3s ease-out;
    }
    .popup-show { transform: translateY(0) }
    .popup-header {
        margin-bottom: 0;
    }
    .popup-body {
        height: auto;
        padding: 1rem;
    }
}