/*===== Color Palette =====*/
    /*
        Si queréis añadir más grados de oscuridad adelante,
        pero crearlos aquí como variables y no en otro archivo.
        por ejemplo: $--color-grey-lighter: rgb(...);
        La idea es tener toooodos los colores aquí metidos
    */
$--color-pink-light: #eeb6b5;
$--color-pink-dark: rgb(208, 122, 121);

$--color-blue-lighter: rgb(217, 251, 255);
$--color-blue-light: rgb(198, 246, 252);
$--color-blue-regular: #1dc3da;
$--color-blue-dark: rgb(75,109,157);

$--color-grey-lighter: rgb(204, 211, 211);
$--color-grey-light: rgb(171, 184, 184);
$--color-grey-regular: rgb(110,116,116);
$--color-grey-dark: rgb(47, 53, 53);

$--color-green-light: rgb(185, 255, 185);
$--color-green-confirm: rgb(21, 215, 21);