@import "./colors"; // paleta de colores

/*===== Reseting styles =====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: $--color-grey-dark;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1, .h1 {
    font-size: 2rem;
    line-height: 2rem;
}
h2, .h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
}
h3, .h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

p {
    margin: 0
}

.card-title {
    font-size: 1.4rem;
    font-weight: bold;
}