/*===== General styles import =====*/
@import "./colors"; // paleta de colores
@import "./fonts";  // estilo de las fuentes

/*===== Reseting styles =====*/

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    transition: 0.5s; // Esto se aplicará a toda la webpage así qeu habrá que ver si es una buena idea
    overflow-x: hidden;
}

#app, html, body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    padding: 0;
}

/* Bootstrap styles */
.row, .row > * {
    margin: 0;
    padding: 0;
}

.btn{
    &:focus {box-shadow: none;}
    &:focus-visible {
        outline: auto;
        outline-offset: 1px;
    }
}

.container-fluid {
    padding: 0;
}

/*===== Useful styles =====*/
/* 
    Los dos styles siguientes hacen que las Pages cojan el 100% del alto de cualquier pantalla
    y lo repartan entre el navbar, el contenido y el footer
*/
@mixin displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.view {
    width: 100%;
    margin-block: auto;  // Esta linea centra el contenido, es necesaria pero también puede ser: margin-bottom: auto; si quieres que el contenido esté arriba
    padding: 0.8rem;       // Esta linea evita que el contenido quede pegado a los extremos
    @include displayCenter();
    flex-direction: column;
}
.center {
    @include displayCenter();
}
a.disabled {
    pointer-events: none;
    color: $--color-grey-light;
    cursor: default;
    &:hover { background: none }
}
