/*===== General styles import =====*/
@import "./colors"; // paleta de colores
@import "./fonts";  // estilo de las fuentes

/*===== Reseting styles =====*/

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow: hidden scroll;
    scroll-behavior: smooth;
}

body {
    transition: 0.5s; // Esto se aplicará a toda la webpage así qeu habrá que ver si es una buena idea
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow-x: hidden;
}

#app, html, body {
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    padding: 0;
}
textarea {
    resize: vertical;
    max-height: 300px;
}
/* Bootstrap styles */
.row, .row > * {
    margin: 0;
    padding: 0;
}

.btn{
    &:focus {box-shadow: none;}
    &:focus-visible {
        outline: auto;
        outline-offset: 1px;
    }
}

.container {
    max-width: 1250px;
}
.container-fluid {
    padding: 0;
}

/*===== Useful styles =====*/
/* 
    Los dos styles siguientes hacen que las Pages cojan el 100% del alto de cualquier pantalla
    y lo repartan entre el navbar, el contenido y el footer
*/
@mixin displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
}
.view {
    width: 100%;
    margin-block: auto;  // Esta linea centra el contenido, es necesaria pero también puede ser: margin-bottom: auto; si quieres que el contenido esté arriba
    padding: 0.8rem;       // Esta linea evita que el contenido quede pegado a los extremos
    @include displayCenter();
    flex-direction: column;
}

.center {
    @include displayCenter();
}

button.disabled, a.disabled {
    pointer-events: none;
    background: none;
    color: $--color-grey-light;
    cursor: default;
    &:hover { background: none }
}

// --- BOTONES --- //

.btn-cool {
    border-radius: 50px;
    color: $--color-blue-dark;
    box-shadow: inset 0 0 0 2px $--color-blue-dark;
    width: fit-content;
    height: auto;
    font-weight: bold;
    padding: 0.5rem 1rem;

    transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    &:hover {
        background-color: $--color-blue-dark;
        color: white;
        box-shadow: none;
    }
}
.btn-cool.btn-confirm {
    box-shadow: inset 0 0 0 2px $--color-green-confirm;
    color: $--color-green-confirm;
    &:hover {
        background: none;
        color: $--color-green-confirm;
    }
}
button.btn-cool.danger {
    box-shadow: inset 0 0 0 2px red;
    color: red;
    &:hover {
        background: none;
        color: red;
    }
}
button.icon-btn.danger, button.icon-btn.danger:hover {
    background-color: transparent;
    color: red;
}

.icon-btn {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px solid $--color-grey-light;
    background-color: $--color-blue-light;
    color: $--color-grey-regular;
    &:hover { background-color: $--color-blue-lighter }
}

/*===== Inputs =====*/
input, textarea, select, .input-button, .search-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid $--color-grey-light;
    padding: 0.3rem 0.6rem;
}
input:focus-visible, textarea:focus-visible, select:focus-visible, .search-input:focus-visible {
    outline: none;
    border: 1px solid $--color-blue-regular;
    box-shadow: 0 0 3px 0 $--color-blue-regular;
}
input.input-error, input.input-error:focus-visible {
    box-shadow: inset 0 0 0 2px red;
    border-color: transparent;
}
.select-wrapper {
    flex: 1;
    width: 100%;
    position: relative;
    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0.7rem;
        height: 62%;
        border-top: 0.4em solid $--color-grey-regular;
        border-right: 0.4em solid transparent;
        border-left: 0.4em solid transparent;
    }
}
select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    &::-ms-expand { display: none }
    background-color: transparent;
}
.search-wrapper {
    width: fit-content;
    position: relative;
    & > i, .search-clear {
        position: absolute;
        top: 0;
        left: 0.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        color: $--color-grey-light;
    }
    & > .search-clear {
        left: auto;
        right: 0.7rem;
    }
}
.search-input {
    width: 200px;
    padding: 0.3rem 1.9rem 0.3rem 2.2rem;
}
/* clears the 'X' from search inputs in Internet Explorer */
input.search-input[type=search]::-ms-clear,
input.search-input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}
/* clears the 'X' from search inputs in Chrome */
input.search-input[type="search"]::-webkit-search-decoration,
input.search-input[type="search"]::-webkit-search-cancel-button,
input.search-input[type="search"]::-webkit-search-results-button,
input.search-input[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

/*===== Tooltips =====*/
[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 5px);
    -o-transform: translate(-50%, 5px);
    -moz-transform: translate(-50%, 5px);
    -webkit-transform: translate(-50%, 5px);
    width: max-content;
    padding: 0.25rem 0.5rem;
    
    background-color: $--color-grey-dark;
    border-radius: 8px;
    
    font-size: 0.85rem;
    color: white;
}

[data-tooltip]::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    top: -17px;
    left: 50%;
    transform: translate(-50%, 5px);
    -o-transform: translate(-50%, 5px);
    -moz-transform: translate(-50%, 5px);
    -webkit-transform: translate(-50%, 5px);
    border-width: 9px 7px 0 7px;
    border-color: $--color-grey-dark transparent transparent transparent;
}

[data-tooltip]::before, [data-tooltip]::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.2s linear;
    -o-transition: opacity 0.3s linear, transform 0.2s linear;
    -moz-transition: opacity 0.3s linear, transform 0.2s linear;
    -webkit-transition: opacity 0.3s linear, transform 0.2s linear;
}

[data-tooltip]:hover::after, [data-tooltip]:hover::before {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

/*===== Tooltips =====*/
div.toast-confirm, div.toast-danger, button.toast-close {
    color: white;
    font-weight: bold;
}
div.toast-confirm {
    background: $--color-green-confirm;
    padding-inline: 1.4rem;
}
div.toast-danger {
    background: red;
    padding-inline: 1.4rem;
}
button.toast-close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    line-height: 9px;
    font-size: 18px;
}