/*===== General styles import =====*/
@import "./colors"; // paleta de colores
@import "./fonts";  // estilo de las fuentes

/*===== Reseting styles =====*/

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow: hidden scroll;
    scroll-behavior: smooth;
}

body {
    transition: 0.5s; // Esto se aplicará a toda la webpage así qeu habrá que ver si es una buena idea
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow-x: hidden;
}

#app, html, body {
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    padding: 0;
}
textarea {
    resize: vertical;
    max-height: 300px;
}
/* Bootstrap styles */
.row, .row > * {
    margin: 0;
    padding: 0;
}

.btn{
    &:focus {box-shadow: none;}
    &:focus-visible {
        outline: auto;
        outline-offset: 1px;
    }
}

.container {
    max-width: 1250px;
}
.container-fluid {
    padding: 0;
}

/*===== Useful styles =====*/
/* 
    Los dos styles siguientes hacen que las Pages cojan el 100% del alto de cualquier pantalla
    y lo repartan entre el navbar, el contenido y el footer
*/
@mixin displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
}
.view {
    width: 100%;
    margin-block: auto;  // Esta linea centra el contenido, es necesaria pero también puede ser: margin-bottom: auto; si quieres que el contenido esté arriba
    padding: 0.8rem;       // Esta linea evita que el contenido quede pegado a los extremos
    @include displayCenter();
    flex-direction: column;
}

.center {
    @include displayCenter();
}

button.disabled, a.disabled {
    pointer-events: none;
    background: none;
    color: $--color-grey-light;
    cursor: default;
    &:hover { background: none }
}

// --- BOTONES --- //

.btn-cool {
    border-radius: 50px;
    color: $--color-blue-dark;
    box-shadow: inset 0 0 0 2px $--color-blue-dark;
    width: fit-content;
    height: auto;
    font-weight: bold;
    padding: 0.5rem 1rem;

    transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    &:hover {
        background-color: $--color-blue-dark;
        color: white;
        box-shadow: none;
    }
}
.btn-cool.btn-confirm {
    box-shadow: inset 0 0 0 2px $--color-green-confirm;
    color: $--color-green-confirm;
    &:hover {
        background: none;
        color: $--color-green-confirm;
    }
}

.icon-btn {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px solid $--color-grey-light;
    background-color: $--color-blue-light;
    color: $--color-grey-regular;
    &:hover { background-color: $--color-blue-lighter }
}

/*===== Tooltips =====*/
[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 5px);
    -o-transform: translate(-50%, 5px);
    -moz-transform: translate(-50%, 5px);
    -webkit-transform: translate(-50%, 5px);
    width: max-content;
    padding: 0.25rem 0.5rem;
    
    background-color: $--color-grey-dark;
    border-radius: 8px;
    
    font-size: 0.85rem;
    color: white;
}

[data-tooltip]::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    top: -17px;
    left: 50%;
    transform: translate(-50%, 5px);
    -o-transform: translate(-50%, 5px);
    -moz-transform: translate(-50%, 5px);
    -webkit-transform: translate(-50%, 5px);
    border-width: 9px 7px 0 7px;
    border-color: $--color-grey-dark transparent transparent transparent;
}

[data-tooltip]::before, [data-tooltip]::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, transform 0.2s linear;
    -o-transition: opacity 0.3s linear, transform 0.2s linear;
    -moz-transition: opacity 0.3s linear, transform 0.2s linear;
    -webkit-transition: opacity 0.3s linear, transform 0.2s linear;
}

[data-tooltip]:hover::after, [data-tooltip]:hover::before {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}