/*===== General styles import =====*/
@import "./colors"; // paleta de colores
@import "./fonts";  // estilo de las fuentes

/*===== Reseting styles =====*/

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow: hidden scroll;
}

body {
    scroll-behavior: smooth;
    transition: 0.5s; // Esto se aplicará a toda la webpage así qeu habrá que ver si es una buena idea
    overflow-x: hidden;
}

#app, html, body {
    min-height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    padding: 0;
}
textarea {
    resize: vertical;
}
/* Bootstrap styles */
.row, .row > * {
    margin: 0;
    padding: 0;
}

.btn{
    &:focus {box-shadow: none;}
    &:focus-visible {
        outline: auto;
        outline-offset: 1px;
    }
}

.container {
    max-width: 1250px;
}
.container-fluid {
    padding: 0;
}

/*===== Useful styles =====*/
/* 
    Los dos styles siguientes hacen que las Pages cojan el 100% del alto de cualquier pantalla
    y lo repartan entre el navbar, el contenido y el footer
*/
@mixin displayCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
}
.view {
    width: 100%;
    margin-block: auto;  // Esta linea centra el contenido, es necesaria pero también puede ser: margin-bottom: auto; si quieres que el contenido esté arriba
    padding: 0.8rem;       // Esta linea evita que el contenido quede pegado a los extremos
    @include displayCenter();
    flex-direction: column;
}

.center {
    @include displayCenter();
}

button.disabled, a.disabled {
    pointer-events: none;
    background: none;
    color: $--color-grey-light;
    cursor: default;
    &:hover { background: none }
}

.coolbtn {
    border-radius: 50px;
    color: $--color-blue-dark;
    box-shadow: inset 0 0 0 2px $--color-blue-dark;
    width: fit-content;
    height: auto;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem 1rem;

    transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    &:hover {
        background-color: $--color-blue-dark;
        color: white;
        box-shadow: none;
    }
}