/*===== General styles import =====*/
@import "./colors"; // paleta de colores
@import "./fonts";  // estilo de las fuentes

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 65vh;
    border-radius: 2%;
    background-color: white;
    box-shadow: $--color-grey-regular 0px 5px 15px;
    @media screen and (max-width: 767.9px) {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}
.popup-header {
    padding: 1rem 2rem 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.popup-heading {
    text-align: start;
}