/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes
@import "./dashboard";  // estilo de las fuentes

.admin-panel-wrapper {
    position: absolute;
    z-index: 1050;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.dashboard-wrapper.admin-panel {
    grid-template-columns: auto 1fr;
    margin-inline: auto;
    max-width: none;
    width: calc(min(100%, 1400px));
}

.admin-logo { color: $--color-blue-dark }
.admin-aside {
    padding: 0rem 0 1rem 2vw;
    & ul {
        display: flex;
        flex-direction: column;
    }
    & nav, & ul { height: 100% }
}
.admin-logout { margin-top: auto }
.coolbtn.logout {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-shadow: inset 0 0 0 2px $--color-pink-dark;
    padding-inline: 1rem;
    margin-top: 0;
    &:hover {
        background-color: $--color-pink-dark;
    }
}
.admin-content { margin: 0rem 2vw 1rem 0 }

@media screen and (max-width: 767.9px) {
    .dashboard-wrapper.admin-panel {
        grid-template-columns: 100%;
        grid-template-areas:"aside"
                            "content";
    }
    .admin-logout {
        padding-block: 1.3rem;
        border-bottom: $--dashboard-border-style
    }
}

/*===== Products y Disponibilidad =====*/

.admin-products, .admin-sections-wrapper{
    width: 100%;
    height: 100%;
}

.admin-sections-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 3rem;
}

.products-info, .disponibility {
    width: 510px;
    height: fit-content;
    box-shadow: inset $--color-grey-dashboard-light 0px 0px 0px 1px;
    padding: 1.5rem;
}

@media screen and (min-width: 1500px) {
    .products-info { grid-area: info; min-width: 100% }
    .disponibility { grid-area: dispo; min-width: 100% }
    .admin-sections-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "info dispo";
    }
}

.price-input {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    & input {
        width: 75px;
        text-align: center;
    }
    & span { font-weight: bold }
}

div.admin-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.admin-form-subgroup { flex: auto }

div.disponibility-title.admin-form-group {
    justify-content: start;
    align-items: baseline;
}

.text-confirm {
    color: $--color-green-confirm;
    font-weight: bold;
}
.text-cancel {
    color: $--color-pink-dark;
}

.availability-checkbox {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem;
    & input { width: auto }
}

.admin-form-subgroup .input-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    & i {
        color: $--color-grey-regular
    }
}

.admin-form-subgroup textarea { width: 100% }

@media screen and (max-width: 767.9px) {
    .products-info, .disponibility {
        min-width: 100%;
    }
    div.admin-form-group {
        flex-wrap: wrap;
        gap: 1rem;
    }
}