/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes
@import "./dashboard";  // estilo de las fuentes

.admin-panel-wrapper {
    position: absolute;
    z-index: 1050;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.dashboard-wrapper.admin-panel {
    grid-template-columns: auto 1fr;
    margin-inline: auto;
    max-width: none;
    width: calc(min(100%, 1400px));
}

.admin-logo { color: $--color-blue-dark }
.admin-aside {
    padding: 0rem 0 1rem 2vw;
    & ul {
        display: flex;
        flex-direction: column;
    }
    & nav, & ul { height: 100% }
}
.admin-logout {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-right: 1rem;
    gap: 0.8rem
}
.btn-cool.logout {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-shadow: inset 0 0 0 2px $--color-pink-dark;
    padding-inline: 1rem;
    &:hover {
        background-color: $--color-pink-dark;
    }
}
.admin-content { margin: 0rem 2vw 1rem 0 }

@media screen and (max-width: 767.9px) {
    .dashboard-wrapper.admin-panel {
        grid-template-columns: 100%;
        grid-template-areas:"aside"
                            "content";
    }
    .admin-logout {
        padding-block: 1.3rem;
        border-bottom: $--dashboard-border-style
    }
}

/*===== Products y Disponibilidad =====*/

.admin-products, .admin-sections-wrapper{
    width: 100%;
    height: 100%;
}

.admin-sections-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    gap: 3rem;
}

.dashboard-first-section, .dashboard-second-section {
    position: relative;
    width: 510px;
    height: fit-content;
    box-shadow: inset $--color-grey-dashboard-light 0px 0px 0px 1px;
    padding: 1.5rem;
}

@media screen and (min-width: 1500px) {
    .dashboard-first-section { grid-area: uno; min-width: 100% }
    .dashboard-second-section { grid-area: dos; min-width: 100% }
    .admin-sections-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "uno dos";
    }
}

div.admin-icon-btn-group {
    position: absolute;
    right: 1rem;
    top: 1rem;
    flex-direction: row;
    gap: 1rem;
    max-width: unset;
    width: fit-content;
}

div.product-input {
    flex-direction: row;
    gap: 0.4rem
}

.edit-input {
    background-color: $--color-blue-light;
    color: $--color-blue-dark;
    position: relative;
    margin-block: auto;
    right: 0;
    padding: 0.3rem;
    border-radius: 3px;
    height: 100%;
    &:hover { background-color: $--color-blue-lighter }
}
button.inactive {
    background-color: $--color-grey-lighter;
    color: $--color-grey-dark;
    pointer-events: none;
}

.price-input {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;
    & input {
        width: 75px;
        text-align: center;
    }
    & span { font-weight: bold }
}

div.socialMedia-input {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    & > .dashboard-input { flex: 1 }
}

div.admin-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}

.admin-form-subgroup { flex: auto }

div.disponibility-title.admin-form-group {
    justify-content: start;
    align-items: baseline;
}

.text-confirm {
    color: $--color-green-confirm;
    font-weight: bold;
}
.text-cancel {
    color: $--color-pink-dark;
}

.availability-checkbox {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem;
    & input { width: auto }
}

.price-subgroup { flex: unset }
.img-subgroup {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-product-img-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
}
.admin-product-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px dashed $--color-grey-light;
    overflow: hidden;
}
.img-placeholder { z-index: -1; color: $--color-grey-light }
.img-placeholder, div button.edit-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
button.edit-img {
    background: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.1s ease-out;
    &:hover {
        opacity: 1;
        background-color: unset;
        background-image: linear-gradient(0deg, #41414196, transparent);
    }
}

.admin-form-subgroup textarea { min-width: 200px }

.border-none { border: none }

@media screen and (max-width: 767.9px) {
    .dashboard-first-section, .dashboard-second-section {
        min-width: 100%;
    }
    div.admin-form-group {
        flex-wrap: wrap;
        gap: 1rem;
    }
}