/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes
@import "./dashboard";  // estilo de las fuentes

.dashboard-wrapper.admin-panel {
    position: fixed;
    grid-template-columns: auto 1fr;
    z-index: 1050;
    height: 100vh;
    max-width: 100%;
    background-color: white;
}

.admin-logo { color: $--color-blue-dark }
.admin-aside {
    padding: 0rem 0 1rem 2vw;
    & ul {
        display: flex;
        flex-direction: column;
    }
    & nav, & ul { height: 100% }
}
.admin-logout { margin-top: auto }
.coolbtn.logout {
    display: flex;
    align-items: center;
    gap: 2rem;
    box-shadow: inset 0 0 0 2px $--color-pink-dark;
    padding-inline: 1rem;
    margin-top: 0;
    &:hover {
        background-color: $--color-pink-dark;
    }
}
.admin-content { margin: 0rem 2vw 1rem 0 }

@media screen and (max-width: 767.9px) {
    .dashboard-wrapper.admin-panel {
        grid-template-columns: 100%;
        grid-template-areas:"aside"
                            "content";
    }
    .admin-logout {
        padding-block: 1.3rem;
        border-bottom: $--dashboard-border-style
    }
}