/*===== General styles import =====*/
@import "../index";  // propiedades custom
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes
@import "./dashboard";  // estilo de las fuentes

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap');

.admin-panel-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1050;
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.admin-panel {
    margin-inline: auto;
    max-width: none;
    flex: 1;
    width: calc(min(100%, 1400px));
}

.admin-aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    background-color: $--color-grey-dark;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    & ul {
        display: flex;
        flex-direction: column;
    }
    & nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.3rem 0 1rem 1rem;
        background-color: $--color-grey-dark;
    }
}

.aside-toggle-wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.admin-aside-content {
    height: 100%;
}

.admin-tab {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 1rem;
    padding: 1.3rem 0.5rem;
    font-size: 1.25rem;
    color: $--color-grey-regular;
    &:hover {
        color: $--color-blue-light;
    }
    &.tab-active {
        color: white;
        font-weight: bold;
    }
}

.admin-aside nav {
    & span { line-height: 1rem }
}

.admin-logout {
    display: flex;
    justify-content: space-between;
    margin: auto 1.3rem 0 0;
    gap: 0.8rem;
    & > .btn-cool { margin: 0 }
    @media screen and (max-width: 767.9px) {
        padding-bottom: 4rem;
    }
}
button.btn-cool.logout {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 2px $--color-pink-dark;
    color: $--color-pink-dark;
    padding-inline: 1rem;
    &:hover {
        color: white;
        background-color: $--color-pink-dark;
    }
}
.admin-content { margin: 0rem 2vw 1rem 7rem }

@media screen and (min-width: 768px) {
    .admin-aside nav {
        & > .admin-logout, & span {
            visibility: hidden;
            display: none
        }
        &:hover {
            & > .admin-logout, & span { visibility: visible; display: flex }
        }
    }
}

@media screen and (max-width: 767.9px) {
    .dashboard-wrapper.admin-panel {
        grid-template-columns: 100%;
        grid-template-areas:"aside"
                            "content";
    }
    .admin-aside {
        width: 100%;
        position: sticky;
        height: fit-content;
        padding: 0.6rem 3vw;
        & nav {
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            padding: 3rem 3vw 1rem 3vw;
        }
    }
    .admin-aside-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .admin-logout { margin-right: 0 }
    .admin-aside nav {
        opacity: 0;
        transform: translateY(-110%);
        -o-transform: translateY(-110%);
        -moz-transform: translateY(-110%);
        -webkit-transform: translateY(-110%);
        transition: transform 0.25s ease-out;
        -o-transition: transform 0.25s ease-out;
        -moz-transition: transform 0.25s ease-out;
        -webkit-transition: transform 0.25s ease-out;
    }
    .admin-aside nav.show-menu {
        opacity: 1;
        transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    .admin-tab {
        width: 100%;
        &:hover {
            color: $--color-blue-light;
            background-color: #ffffff99;
        }
        & span {
            text-align: left;
        }
    }
    section.admin-content { margin: 1.7rem 2vw }
}

/*===== Servicios y Disponibilidad =====*/

.admin-services, .admin-sections-wrapper, .dashboard-content-wrapper{
    width: 100%;
    height: 100%;
}

.admin-sections-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 3rem;
}

.admin-first-section, .admin-second-section {
    width: 510px;
    height: fit-content;
    box-shadow: inset $--color-grey-dashboard-light 0px 0px 0px 1px;
    padding: 1.5rem;
    border-radius: $--br;
}

.admin-form div.services-subtitle {
    align-items: center;
}

div.admin-icon-btn-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: unset;
    width: fit-content;
    margin-left: auto;
}

div.service-input {
    flex-direction: row;
    align-items: center;
    gap: 0.4rem
}

.edit-input {
    background-color: $--color-blue-light;
    color: $--color-blue-dark;
    position: relative;
    margin-block: auto;
    right: 0;
    padding: 0.3rem;
    border-radius: 3px;
    height: 100%;
    &:hover { background-color: $--color-blue-lighter }
}
button.inactive {
    background-color: $--color-grey-lighter !important;
    color: $--color-grey-dark !important;
    pointer-events: none;
}

.price-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: fit-content;
    & input {
        padding-left: 1.5rem;
        text-align: center;
    }
    & span {
        position: absolute;
        left: 0;
        height: 64%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-right: 1px solid lightgrey;
    }
}

div.socialMedia-input {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    & > .dashboard-input { flex: 1 }
}

div.admin-form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}

.admin-form-subgroup {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.duration-subgroup {
    align-items: flex-start;
}

div.disponibility-title.admin-form-group {
    justify-content: start;
    align-items: baseline;
}

.text-confirm {
    color: $--color-green-confirm;
    font-weight: bold;
}
.text-cancel {
    color: $--color-pink-dark;
}

.img-subgroup {
    align-self: flex-end;
    margin-inline: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-service-img-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
}
.admin-service-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.img-placeholder {
    z-index: -1;
    color: $--color-grey-light;
    border-radius: 10px;
    border: 1px dashed $--color-grey-light;
}
.img-placeholder, .edit-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.edit-img {
    background: none;
    color: $--color-grey-dark;
    font-size: 1.5rem;
    border-radius: 10px;
    opacity: 0;
    padding: 0.6rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
    transition: all 0.1s ease-out;
    &:hover, &.edit-img-active {
        opacity: 1;
        background-color: unset;
        background-image: linear-gradient(0deg, #000000b8, transparent);
        border-radius: 10px;
    }
    & > i, & .spinner-border-wrapper {
        padding: 0.6rem;
        background: white;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
        border-radius: 50%;
    }
}

.border-none { border: none }

@media screen and (max-width: 767.9px) {
    .admin-first-section, .admin-second-section {
        min-width: 100%;
    }
    div.admin-form-group {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

/*===== Clients =====*/

// Client list
.clients-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.clients-list {
    display: flex;
    flex-direction: column;
    background-color: $--color-grey-dashboard-light;
    box-shadow: inset -7px 2px 10px 1px #5b5b5b2b;
    border-radius: 10px;
    height: 93vh;
}
.clients-list-title {
    padding: 1rem 0 0 1rem
}
.clients-list ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 0 1rem 1rem;
    width: 270px;
}
.search-client {
    margin: 2rem 0 1rem 0;
    margin-inline: auto;
}
input.search-client-input, input.search-client-input:focus-visible {
    border: none;
}

$--br-client-tab: 5px;
$--br-client-tab-x2: 10px;

.li-client { position: relative; display: flex }
.curved-corner-top , .curved-corner-bottom {
    position: absolute;
    transform: scaleX(0);
    -o-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    bottom: -#{$--br-client-tab-x2};
    right: 0;
    overflow: hidden;
    width: $--br-client-tab-x2;
    height: $--br-client-tab-x2;
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: calc(#{$--br-client-tab-x2} + #{$--br-client-tab-x2});
        height: calc(#{$--br-client-tab-x2} + #{$--br-client-tab-x2});
        border-radius: 50%;
        box-shadow: $--br-client-tab-x2 -#{$--br-client-tab-x2} 0 0 white;
    }
}
.curved-corner-top {
    top: -#{$--br-client-tab-x2};
    &::before {
        bottom: 0;
        top: auto;
        box-shadow: $--br-client-tab-x2 $--br-client-tab-x2 0 0 white;
    }
}
.show-curved-corner {
    transform: scaleX(1);
    -o-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transition: transform 30ms linear 150ms;
    -o-transition: transform 30ms linear 150ms;
    -moz-transition: transform 30ms linear 150ms;
    -webkit-transition: transform 30ms linear 150ms;
}
.client-tab {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    border-radius: $--br-client-tab;
    margin-right: 1.4rem;
    &:hover, &:focus-visible {
        background-color: #ffffff99;
        outline: none;
    }
}
.client-tab-active {
    transition: all 180ms linear;
    box-shadow: -7px 5px 8px 1px #5b5b5b2b;
    background-color: white;
    font-weight: bold;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    margin-right: 0;
    &:hover, &:focus-visible {
        background-color: white;
        outline: none;
    }
}
.client-tab-name {
    flex: 1;
    text-align: left;
}
.client-tab-img { margin: 0 }

@media screen and (max-width: 767.9px) {
    .clients-list { height: calc(100vh - 6.1rem) }
}

// Client list scroll-bar
.clients-list ul {
    direction: rtl;
    & li { direction: ltr; }
}
.clients-list ul, textarea, .of-y {
    overflow-y: auto;
    &::-webkit-scrollbar { width: 0.4em }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 100vw;
    }
    &::-webkit-scrollbar-track { margin-block: 1.5em }
    @supports (scrollbar-color: red blue) {
        & {
            scrollbar-color: transparent transparent;
            scrollbar-width: thin
        }
    }

    &:hover {
        &::-webkit-scrollbar { width: 0.4em }
        &::-webkit-scrollbar-thumb {
            background-color: $--scrollbar-color;
            border-radius: 100vw;
        }
        @supports (scrollbar-color: red blue) {
            & {
                scrollbar-color: $--scrollbar-color transparent;
                scrollbar-width: thin
            }
        }
    }
}
// Client Details
.client-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    padding: 1rem 1rem 1rem 2rem;
    max-width: 800px;
}
.client-details-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 1px solid $--color-grey-dashboard-light;
}
.client-details-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.client-details-name {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.2rem;
}
.client-details-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}
.client-details-subgroup {
    display: flex;
    align-items: center;
    gap: 0.5rem
}
.client-details-subgroup > i {
    color: white;
    font-size: 1rem;
    background-color: $--color-blue-regular;
    border-radius: 50%;
    padding: 0.5rem;
}

$--pills-spacing: 0.4rem;

.client-bookings-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.pills-wrapper {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    gap: $--pills-spacing;
    padding: $--pills-spacing;
    & > .pills {
        color: $--color-grey-regular;
        flex: auto;
        text-align: center;
        padding: 0.3rem;
        &.active {
            color: $--color-grey-dark;
            font-weight: bold;
        }
        & > span {
            color: $--color-blue-dark;
            font-size: 0.9rem;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -2;
        width: 100%;
        background-color: $--color-grey-dashboard-light;
        border-radius: 8px;
    }
}

.pills-pseudoelement {
    position: absolute;
    left: $--pills-spacing;
    height: calc(100% - 2 * #{$--pills-spacing});
    width: calc(50% - #{$--pills-spacing});
    background-color: white;
    border-radius: 4px;
    z-index: -1;
    box-shadow: 1px 1px 6px 0 rgba(163, 163, 163, 0.425);
    transition: all 0.2s ease-out;
}

.client-bookings {
    height: 100%;
    width: 100%;
    padding: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.bookingLi {
    display: flex;
    text-align: center;
    & > * { flex: 1 }
    border-bottom: 1px solid $--color-grey-dashboard-light;
    width: 100%;
    padding: 0.8rem 0.4rem;
    & > li { margin-block: auto }
}
.bookingLi-cancel {
    flex: none;
    width: 60px;
}
.bookingLi-price {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.bookingLi-canceled {
    color: red;
    font-weight: bold;
}
.bookingLi-btn-confirm, .bookingLi-btn-cancel {
    border-radius: 50%;
    font-size: 1.2rem;
    height: 2.5rem;
    aspect-ratio: 1;
    color: white;
    transition: all 0.2s ease-out;
    background-color: rgba(150, 150, 150, 0.5);
    &:hover { background-color: red }
}
.bookingLi-btn-confirm {
    background-color: rgba(150, 150, 150, 0.5);
    &:hover { background-color: $--color-green-confirm }
}
.bookingLi-date {
    font-size: 0.9rem;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0.2rem;
        bottom: 0.2rem;
        right: 0;
        width: 4px;
        border-radius: 5px;
    }
}
.bookingLi-date[data-status='Confirmed']::after {
    background-color: rgba(21, 213, 21, 0.5);
}
.bookingLi-date[data-status='Canceled']::after {
    background-color: rgba(255, 0, 0, 0.4);
}
.bookingLi-date[data-status='Disabled']::after {
    background-color: rgba(150, 150, 150, 0.5);
}

.bookingLi-day {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
}

/*===== Negocio y Horario =====*/

.admin-weekdays {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.admin-weekdays .icon-btn {
    border: none;
    background-color: $--color-grey-dashboard-light;
    &:hover {
        background-color: $--color-blue-lighter;
    }
    &.active {
        color: white;
        font-weight: bold;
        background-color: $--color-blue-regular
    }
}

.admin-weekdays-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.admin-weekdays-buttons .icon-btn {
    width: auto;
    aspect-ratio: 0;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
}