/*===== General styles import =====*/
@import "../index"; // custom properties
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

$--dashboard-border-style: 1px solid $--color-grey-dashboard-light;
$--margin-inline: 4vw;
$--padding-top: 2rem;

.dashboard-welcome {
    flex-direction: column;
    gap: 1.3rem;
    margin-inline: auto;
    color: #d9d9d9;
    font-weight: bold;
    font-size: calc(1.35rem + 0.9vw);
    & img { filter: opacity(15%) }
}

.dashboard-content { grid-area: content }
.dashboard-aside { grid-area: aside }
.dashboard-wrapper {
    align-self: center;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "aside content";

    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-height: 95vh;
}

.dashboard-content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 3rem $--margin-inline 3rem 0;
    padding: $--padding-top 0 0 2vw;
}

.dashboard-aside {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem $--margin-inline;
    border-right: $--dashboard-border-style;
}
.dashboard-user-info {
    display: flex;
    padding: $--padding-top 0.8rem 1rem 0;
}
.dashboard-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    & p {
        color: $--color-grey-light;
        font-size: 0.8rem;
    }
}
.dashboard-img-wrapper {
    position: relative;
}
.dashboard-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
// Default avatar
.avatar {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    padding: 6px;
    display: flex;
}
.dashboard-avatar {
    height: 70px;
    width: 70px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
    &.avatar { padding: 8px }
}
.avatar__img {
    fill: none;
    height: 100%;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    width: 100%;
}
button.dashboard-edit-img {
    bottom: 0;
    opacity: 1;
    height: fit-content;
    width: auto;
    margin-top: auto;
    font-size: 0.8rem;
    padding: 0.4rem;
    background: white;
    border-radius: 50%;
    &:hover {
        border-radius: 50%;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35)
    }
    & > i { padding: 0; box-shadow: none }
}

.dashboard-username {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.15em;
}
.dashboard-aside ul {
    border-top: $--dashboard-border-style;
}
.dashboard-tab {
    position: relative;
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    padding: 1.3rem 1.3rem 1.3rem 0.6rem;
    color: $--color-grey-dark;
    border-bottom: $--dashboard-border-style;
    & > i {
        color: $--color-grey-light;
    }
    &:hover, &:hover > i {
        color: #739ad2;
    }
    &:hover::before {
        content: '';
        position: absolute;
        top: -1px;
        left: -4px;
        height: calc(100% + 2px);
        width: 4px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background-color: rgba(75, 109, 157, 0.55);
    }
    &.tab-active {
        font-weight: 600;
        color: $--color-blue-dark;
        & > i { color: $--color-blue-dark }
        &:hover, &:hover > i {
            background-color: transparent;
        }
    }
    &.tab-active::before {
        content: '';
        position: absolute;
        top: -1px;
        left: -4px;
        height: calc(100% + 2px);
        width: 4px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background-color: $--color-blue-dark;
    }
}

.dashboard-tab.logout, .dashboard-tab.logout:hover {
    color: $--color-pink-dark;
}
.dashboard-tab.logout:hover {
    font-weight: bold;
    &::before {
        background: none
    }
}

// Titles
.dashboard-content-title {
    font-weight: bold;
}
.dashboard-content-h3 {
    margin-top: 1rem;
}

// Content
.dashboard-content-wrapper, .dashboard-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: calc(min(100%, 500px));
}
.dashboard-form { gap: 1.5rem }

@media screen and (max-width: 767.9px) {
    .dashboard-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr;
        grid-template-areas: "aside"
                             "content";
    }
    .dashboard-aside { padding: 3rem 4vw }
    .dashboard-content, section.admin-content {
        margin: 0 4vw 4vw 4vw;
        padding: 0;
    }
    .dashboard-user-info { padding: 0 0 1rem 0 }
    .dashboard-content-wrapper { margin-inline: auto }
    .dashboard-form {
        margin-inline: auto;
        justify-content: center;
        flex-flow: wrap;
        & > div { width: 100% }
    }
    .dashboard-content-title { text-align: center }
}
/*===== Content: Account =====*/

.dashboard-form > div, .dashboard-input {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.dashboard-label {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    font-size: 0.87rem;
    color: $--color-grey-regular;
}
.dashboard-input { position: relative }
button.clear-input, .edit-input {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: 1rem;
    color: $--color-grey-light
}
.dashboard-form input:focus-visible ~ button.clear-input {
    color: $--color-blue-dark
}

.delete-account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    color: $--color-pink-dark;
}

/*===== Content: Reservations =====*/

.bookingcard-content { grid-area: card-content }
.bookingcard-img-wrapper { grid-area: card-img }
.bookingcard-wrapper {
    display: grid;
    grid-template-columns: auto 34%;
    grid-template-areas: "card-content card-img";
    border-radius: $--br;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.2s ease-out;
    &:hover {
        transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}
.bookingcard-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    height: 100%;
}
.bookingcard-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.4em;
    border-bottom: $--dashboard-border-style;
}
.bookingcard-date {
    letter-spacing: 0.8px;
    font-weight: bold;
}
.bookingcard-confirmed {
    color: $--color-green-confirm;
    font-weight: bold;
}
.bookingcard-canceled {
    color: $--color-pink-dark;
    font-weight: bold;
}
.book-again-btn {
    margin: auto auto 0 0;
}

.bookingcard-img-wrapper {
    display: flex;
}
.bookingcard-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    // object-position: top;
}

.bookingcard-buttons {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

@media screen and (max-width: 470px) {
    .bookingcard-wrapper {
        grid-template-areas:
            "card-img"
            "card-content";
        grid-template-columns: auto;
    }
}