/*===== General styles import =====*/
@import "../colors"; // paleta de colores
@import "../fonts";  // estilo de las fuentes

$--color-grey-dashboard-light: #e6e6e6;
$--dashboard-border-style: 1px solid $--color-grey-dashboard-light;
$--margin-inline: 4vw;
$--padding-top: 2rem;

.dashboard-welcome {
    flex-direction: column;
    gap: 1.3rem;
    margin-inline: auto;
    color: #d9d9d9;
    font-weight: bold;
    font-size: calc(1.35rem + 0.9vw);
    & img { filter: opacity(15%) }
}

.dashboard-content { grid-area: content }
.dashboard-aside { grid-area: aside }
.dashboard-wrapper {
    align-self: center;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "aside content";

    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-height: 95vh;
}

.dashboard-content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 3rem $--margin-inline 3rem 0;
    padding: $--padding-top 0 0 4vw;
}

.dashboard-aside {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem $--margin-inline;
    border-right: $--dashboard-border-style;
}
.dashboard-user-info {
    display: flex;
    padding: $--padding-top 0.8rem 1rem 0;
}
.dashboard-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    & p {
        color: $--color-grey-light;
        font-size: 0.8rem;
    }
}
.dashboard-img-wrapper {
    position: relative;
}
.dashboard-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
// Default avatar
.avatar {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    padding: 8px;
}
.dashboard-avatar {
    height: 64px;
    width: 64px;
}
.avatar__img {
    fill: none;
    height: 100%;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    width: 100%;
}
button.dashboard-edit-img {
    bottom: 0;
    opacity: 1;
    height: fit-content;
    width: auto;
    margin-top: auto;
    font-size: 0.8rem;
    padding: 0.4rem;
    background: white;
    border-radius: 50%;
    &:hover {
        border-radius: 50%;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35)
    }
    & > i { padding: 0; box-shadow: none }
}

.dashboard-username {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.15em;
}
.dashboard-aside ul {
    border-top: $--dashboard-border-style;
}
.dashboard-li {
    border-bottom: $--dashboard-border-style;
}
.dashboard-tab {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.3rem 1.3rem 1.3rem 0;
    text-align: start;
    color: $--color-grey-dark;
    & > i {
        color: $--color-blue-dark;
    }
    &:hover, &.tab-active {
        transform-origin: left;
        -o-transform-origin: left;
        -moz-transform-origin: left;
        -webkit-transform-origin: left;
        transform: translateX(10px);
        -o-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -webkit-transform: translateX(10px);
        font-weight: 600;
    }
    
}

.logout {
    color: $--color-pink-dark;
}

// Titles
.dashboard-content-title {
    font-weight: bold;
    font-size: 2rem;
}
.dashboard-content-subtitle {
    font-size: 1.5rem;
}

// Content
.dashboard-content-wrapper, .dashboard-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(min(100%, 500px));
}
.dashboard-form { gap: 1.5rem }

@media screen and (max-width: 767.9px) {
    .dashboard-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr;
        grid-template-areas: "aside"
                             "content";
    }
    .dashboard-aside, aside.admin-aside { padding: 3rem 4vw }
    .dashboard-content, section.admin-content {
        margin: 0 4vw 4vw 4vw;
        padding: 0;
    }
    .dashboard-user-info { padding: 0 0 1rem 0 }
    .dashboard-content-wrapper { margin-inline: auto }
    .dashboard-form {
        margin-inline: auto;
        justify-content: center;
        & > div { width: 100% }
    }
    .dashboard-content-title, .dashboard-content-subtitle { text-align: center }
}
/*===== Content: Account =====*/

.dashboard-form > div, .dashboard-input {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.dashboard-label {
    font-size: 0.87rem;
    color: $--color-grey-regular;
    display: block
}
.dashboard-input { position: relative }
button.clear-input, .edit-input {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: 1rem;
    color: $--color-grey-light
}
.dashboard-form input:focus-visible ~ button.clear-input {
    color: $--color-blue-dark
}

.input-button {
    background-color: $--color-blue-light;
    &:hover { background-color: $--color-blue-lighter }
}

.save-button, .book-again-btn {
    box-shadow: inset 0 0 0 2px $--color-blue-dark;
    border-radius: 20px;
    padding: 0.3rem 3rem;
    margin-inline: auto;
    width: fit-content;
    color: $--color-blue-dark;
    font-weight: bold;
}

/*===== Content: Reservations =====*/

.bookingcard-content { grid-area: card-content }
.bookingcard-img-wrapper { grid-area: card-img }
.bookingcard-wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: "card-content card-img";
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bookingcard-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.bookingcard-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.4em;
    border-bottom: $--dashboard-border-style;
}
.bookingcard-date {
    letter-spacing: 0.8px;
    font-weight: bold;
}
.bookingcard-confirmed {
    color: $--color-green-confirm;
    font-weight: bold;
}
.bookingcard-canceled {
    color: $--color-pink-dark;
    font-weight: bold;
}
.book-again-btn {
    margin: auto auto 0 0;
}

.bookingcard-img-wrapper {
    display: flex;
}
.bookingcard-img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 470px) {
    .bookingcard-wrapper {
        grid-template-areas:
            "card-img"
            "card-content";
        grid-template-columns: auto;
    }
}