@import "../colors";
@import "../fonts";
@import "../index";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.home {
    transform: translateY(-70px);
}

div.home-background {
    justify-content: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 75px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    min-height: 75vh;
    background-image: url(./../../img/home-background.jpg);
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @media screen and (max-width: 767.9px) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 75px -20px, rgba(0, 0, 0, 0.3) 0px 20px 40px -20px;
    }
}

.calltoaction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    & .calltoaction-title {
        & > div {
            position: relative;
            width: 100%;
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.623);
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: clamp(1.4rem, 3vw, 2.3rem);
        line-height: 1.5;
        font-weight: bold;
        color: #017767;
        text-align: center;
    }
}
.calltoaction-question {
    font-size: clamp(2rem, 4vw, 2.7rem);
}

button.btn-home {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.15rem;
    font-size: clamp(1.3rem, 2.8vw, 1.8rem);
    margin: 1rem 0 0 0;
    @media screen and (max-width: 767.9px) {
        margin-inline: auto;
        background-color: white;
        border-color: white;
    }
    color: #009783;
    border: 3px solid #009783;
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: rgba(0, 0, 0, 0.183) 0px 15px 20px, rgba(0, 0, 0, 0.10) 0px 11px 8px;
    
    &:hover {
        color: white;
        border: 3px solid #009783;
        background-color: #009783;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 5px, rgba(0, 0, 0, 0.22) 0px 15px 12px 5px;
    }
}

.home-subtitle-wrapper {
    padding-inline: 2rem;
    margin-bottom: 8vh;
    padding-top: 13vh;
    gap: 2.5rem;
    & > .home-subtitle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.7rem;
        font-family: 'Satisfy', cursive;
        font-size: clamp(2rem, 3vw, 2.3rem);
    }
    @media screen and (max-width: 1038px) {
        flex-direction: column;
        gap: 2rem;
    }
}
.text-divider {
    flex-wrap: nowrap;
    width: clamp(150px, 17vw, 220px);
    filter: brightness(1.1)
}
.emphasis {
    // margin-left: 1.5rem;
    letter-spacing: .3rem;
    color: #009783;
    text-shadow: -10px -10px 0px #79e0d348,
                 10px 10px 0px #f8d03050,
}

.service-card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out;
    & > img { transition: all 0.3s ease-out }
    &:hover {
        box-shadow: 10px 10px 3rem 0 rgba(143, 143, 143, 0.644);
        & > img {
            transform: scale(1.1);
        }
    }
}

.service-card.card-background::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(0deg, #000000a2, transparent 100%);
    width: 100%;
    height: 20%;
    transition:  0.4s ease-out;
}

.service-card .card-body {
    position: absolute;
    bottom: -31%;
    transition: all 0.3s ease-out;
    & .card-title {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #dbdbdb;
            width: 100%;
            height: 1px;
            transform: scale(0);
            -o-transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            transform-origin: left;
            -o-transform-origin: left;
            -moz-transform-origin: left;
            -webkit-transform-origin: left;
            transition: transform 0.4s ease-out;
            -o-transition: transform 0.4s ease-out;
            -moz-transition: transform 0.4s ease-out;
            -webkit-transition: transform 0.4s ease-out;
        }
    }
}

.service-card .card-text {
    flex: 1;
    overflow-y: hidden;
    color: transparent;
    font-weight: bold;
    line-height: 1.15rem;
    background-image: linear-gradient(180deg, white 70%, transparent);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 0.3rem;
}

.service-card:hover .card-body, .service-card-wrapper:focus-visible .service-card .card-body{
    bottom: 0;
    & .card-title::after {
        transform: scaleX(100%);
        -o-transform: scaleX(100%);
        -moz-transform: scaleX(100%);
        -webkit-transform: scaleX(100%);
    }
}

.service-card:hover.card-background::after {
    height: 100%;
    background-image: linear-gradient(0deg, #000000bd, #00000057, #0000001f 54%, transparent 100%);
}
.service-card-wrapper:focus-visible {
    outline: none;
    & .service-card.card-background::after{
        height: 100%;
        background-image: linear-gradient(0deg, #000000bd, #00000057, #0000001f 54%, transparent 100%);
    }
}

a.btn-skip.btn-card-info {
    width: fit-content;
    color: $--color-blue-regular;
    transition: all 0.2s ease-out;
    & > i {
        color: $--color-blue-regular;
    }
    &:hover {
        color: $--color-blue-light;
        & > i {
            color: $--color-blue-light;
            margin-left: 0.3rem
        }
    }
    &:focus-visible { outline: none }
}