

.card-background::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(0deg, #000000bd, #00000057, #0000001f 54%, transparent 100%);
    width: 100%;
    height: 100%;
}

.card-text {
    flex: 1;
    overflow-y: hidden;
    color: transparent;
    background-image: linear-gradient(180deg, white 70%, transparent);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 0.3rem;
}