.home-background{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    transform: translateY(-70px);
    min-height: 75vh;
    background-image: url(./../../img/zen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  
.container .btn-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#2f3535;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn-home:hover {
background-color: grey;
}
@media(max-width: 768px) {
    .full-width {
        width: 50%;  
    }
}

.service-card.card-background::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(0deg, #000000bd, #00000057, #0000001f 54%, transparent 100%);
    width: 100%;
    height: 100%;
}

.service-card .card-body {
    position: absolute;
    bottom: -31%;
    transition: all 0.3s ease-out;
    & .card-title {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #dbdbdb;
            width: 100%;
            height: 1px;
            transform: scale(0);
            -o-transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
            transform-origin: left;
            -o-transform-origin: left;
            -moz-transform-origin: left;
            -webkit-transform-origin: left;
            transition: transform 0.4s ease-out;
            -o-transition: transform 0.4s ease-out;
            -moz-transition: transform 0.4s ease-out;
            -webkit-transition: transform 0.4s ease-out;
        }
    }
}

.service-card .card-text {
    flex: 1;
    overflow-y: hidden;
    color: transparent;
    font-weight: bold;
    line-height: 1.15rem;
    background-image: linear-gradient(180deg, white 70%, transparent);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 0.3rem;
}

.service-card:hover .card-body {
    bottom: 0;
    & .card-title::after {
        transform: scaleX(100%);
        -o-transform: scaleX(100%);
        -moz-transform: scaleX(100%);
        -webkit-transform: scaleX(100%);
    }
}